{%extends "-layouts/default.njk" %}

{%block body %}
    <div class="provider">
    <div>
    <img src="files/{{provider.avatar }}" />
    <strong>{{ provider.name }} </strong>
    </div>
    </div>
    </div>

<form action="/app/appointments/new{{provider.id }}" method="post"></form>
   <input type="text" class="flatpickr" placeholder="escolha uma data">
<div id="hours">

</div>
<button type="submit">Agendar</button>
</div>
</form>

<script type="text/javascript">
flatpickr('.flatpickr' , {
  minDate: new Date(),
  dateFormat: 'd/m/y',
  onCHange: function(date) {
    fetch(´/app/available/{{ provider.id}}?date=${date[0].getTime()}´).then(function)(response){}
     response.text().then(function(html){
       document.getElementById('hours').innerHTML=html
     })

  }
})
</script>
    {% endblock %}
