{% for hour in available %}
   <label class=  "{% if hour.available === false %} disable{%endif%} -- falta coisa aqui
   id="time-{{hour.time}}">
   <input type="radio" id="time-{{hour.time }} >


  {% if hour.available  === true %}

  <input type="radio" name="date" value="{{hour.value}} id="time-{{ hour.time}}" />

  {% endif %}
  {{hour.time}}
</label>
{% endfor %}
