{% extends "_layouts/default.njk" %}

{% block body%}
<div class="content">
<strong> Olá, {{ user.name}} </strong>
<p> inicie um agendamento escolhendo um profissional abaixo: </p>


<ul class="providers">
{%for provider  in providers %}
<li class="provider">

<div>
  <img src="/files/{{provider.avatar}}" />
  <strong> {{provider.name}} </strong>
</div>
<a href="/app/appointmenst/new{{provider.id" }} class="logout">Sair</a>


</li>


{%endfor%}

</ul>


{% endblock %}

